body {
    margin: 0 auto;
    padding: 0;
}

.header {
    width: 100%;
    height: 56px;
    color: #FFF;
    background: #3F51B5;
    position: fixed;
    padding: 16px 16px 0px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

.header__title {
    font-weight: 400;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    flex: 1;
}